<html>
<title>Administrador | Tech Nurse</title>

<body>
    <h1> ESTA É A PAGINA DO ADM !!!</h1>

    <button id="sair" onclick="sair()">Clique aqui para sair</button>
</body>
<script>
    function sair(){
        localStorage.clear()
        window.location.href = "http://localhost:3333/login"
    }
</script>

</html>